<div class="">
    <div class="header">
        <h4 class="title">Liste des materiels</h4>
    </div>
    <div class="content">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                      <button class="btn btn-success" id="successModalBtn" mat-dialog-close>Ok...</button>
                       <button class="btn btn-info" mat-dialog-close>Annuler</button>
                    </div>
                </div>
            </div>
          </form>
    </div>
</div>