<div class="col-lg-8 col-md-7">
  <div class="card">
      <div class="header">
          <h4 class="title">Ajouter un materiel informatique</h4>
      </div>
      <div class="content">
          <form>
              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <label>Nom de materiel</label>
                          <input type="text" class="form-control border-input"  placeholder="Entrer Nom de materiel">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Marque</label>
                          <input type="text" class="form-control border-input" placeholder="Entrer la marque du materiel">
                      </div>
                  </div>

                  <!-- There is an if statement here to check if the product is a computer than show Adreese IP field -->
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Adresse IP</label>
                          <input type="text" class="form-control border-input" placeholder="Adresse IP">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Date de l'achat</label>
                          <input type="date" class="form-control border-input" placeholder="Date de lachat">
                      </div>
                  </div>
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-info btn-fill btn-wd">Ajouter le materiel...</button>
              </div>
              <div class="clearfix"></div>
          </form>
      </div>
  </div>
</div>